<div style="position: absolute; top: 0; left: 0;">
  <p class="header-name">Superhero</p>
  <header>
    <nav>
      <ul>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
        <li><a routerLink="/heroes" routerLinkActive="active" ariaCurrentWhenActive="page">Heroes</a></li>
        <li *ngIf="isValidUser()">
          <button (click)="logout()">Logout {{getUserName()}}</button>
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
